[Unit]
Description=GaussmeterPlus
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gauss-yns.sh
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
